<div class="hidden" id="home">
  <div>
    <p>Logged in as {{name}}</p>
    <h3>History of Messages</h3>
    <div id="messages"></div>
  </div>
  <div class="chat-bar">
    <div>
      <input id="typed-message" type="text" />
      <button id="send-message">Send Message</button>
    </div>
  </div>
</div>

<div id="lobby">
  {{> lobby}}
</div>

<div class="hidden" id="add-channel">
  {{> add-channel }}
</div>

<div class="hidden" id="about">
  {{#each groupMembers as |member|}}
    <section class="card">
      <div>{{member.name}}</div>
      <div>{{member.email}}</div>
      <div>{{member.github}}</div>
      <div>{{member.contribution}}</div>
    </section>
  {{/each}}
</div>